.col1-btn {
  border: none;
  outline: none;
  margin: 2px 0 3px 0;
  padding: 0;
  background-color: transparent;
  display: black;
}

button.col1-btn:hover {
  /* text-transform: uppercase; */
  /* box-shadow: inset 0 -2px 0 0 black; */
  transition: 0.15s linear;
  cursor: pointer;
  color: gray;
}
button.col1-btn.active {
  /* text-transform: uppercase; */
  /* box-shadow: inset 0 -2px 0 0 white; */
  /* font-weight: bold;
  color: red; */
}


.col1-btn-language {
  position: fixed;
  left: 20px;
  bottom: 10px;
}

#col2-0 {
  display: none;
}



#closeContents {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  width: 40px;
  padding: 15px 15px 10px 10px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: 0.3s;
  user-select: none;
  -webkit-user-select: none;
  /* font-family: icons;
  font-weight: normal;
  font-style: normal;
  float: right; */
  /* font-size: 27px; */
  /* color: rgba(240,240,240,1); */
}

#closeContents:hover,
#closeContents:focus {
  cursor: pointer;
  opacity: 0.3;
}
