.col1-btn {
  border: none;
  outline: none;
  margin: 2px 0 3px 0;
  padding: 0;
  background-color: transparent;
  display: black;
}

button.col1-btn:hover {
  /* text-transform: uppercase; */
  /* box-shadow: inset 0 -2px 0 0 black; */
  transition: 0.15s linear;
  cursor: pointer;
}
button.col1-btn.active {
  /* text-transform: uppercase; */
  /* box-shadow: inset 0 -2px 0 0 white; */
  /* font-weight: bold;
  color: red; */
}


.col1-btn-language {
  position: fixed;
  left: 20px;
  bottom: 10px;
}

#col2-0 {
  display: none;
}
