/* Grid Layout ================================================ */

.divider {
  border-top: 1px solid black;
}

.titlesticky {
  position: sticky;
  position: -webkit-sticky;
  /* top: 10px; */
  top: 0px;
  z-index: 3;
  mix-blend-mode: difference;
}

.titleview {
	display: grid;
	height: 30px;
  /* padding: 0; */
	padding: 10px 0 4px 0;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  row-gap: 0px;
  /* row-gap: 10px; */
  font-size: 0;
	background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

/* About ================================================ */

.aboutview2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  font-size: 0;
}

.aboutview_TUD {
	display: grid;
  grid-template-columns: 100px auto auto;
  column-gap: 10px;
  row-gap: 10px;
  font-size: 0;
  border-bottom: 1px solid #ffffff;
}

.aboutview_YY {
	display: grid;
  grid-template-columns: 100px auto;
  column-gap: 10px;
  row-gap: 10px;
  font-size: 0;
  border-bottom: 1px solid #ffffff;
}

.aboutview_MMYY {
	display: grid;
  grid-template-columns: 40px 55px auto;
  column-gap: 10px;
  row-gap: 10px;
  font-size: 0;
  border-bottom: 1px solid #ffffff;
}

.aboutview3 {
	display: grid;
  grid-template-columns: 100px 3fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  font-size: 0;
  border-bottom: 1px solid #ffffff;
}

/* Grid Layout ================================================ */

.workview1 {
  display: grid;
	margin-bottom: 20px;
  row-gap: 20px;
  font-size: 0;
}

.workview2 {
	display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  font-size: 0;
  padding-bottom: 20px;
}

.workview2_1-3 {
	display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
  row-gap: 10px;
  font-size: 0;
}

.workview3 {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  font-size: 0;
  padding-bottom: 20px;
}

.workview3_07-1-2 {
	display: grid;
  grid-template-columns: 0.7fr 1fr 2fr;
  column-gap: 20px;
  row-gap: 20px;
  font-size: 0;
}

.workview3_11-7-7 {
	display: grid;
  grid-template-columns: 11fr 7fr 7fr;
  column-gap: 20px;
  row-gap: 20px;
  font-size: 0;
}

.workview4 {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  font-size: 0;
}

/* Video ================================================ */

.video-16-9 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  margin-bottom: 20px;
}

.video-16-10 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 63%; /* 16:10 Aspect Ratio ????? */
  margin-bottom: 20px;
}

.video-20-31 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 155%; /* 20:31 Aspect Ratio ????? */
  margin-bottom: 20px;
}

.video-responsive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}


/* Padding ================================================ */

.work-padding-top {
  height: 0;
}

.work-padding-title {
	height: 76px;
  /* height: 70px; */
}

.work-padding-bottom {
  height: 300px;
}


/* Mobile Description ================================================ */

.mobileView {
  display: none;
  color: #b2b2b2;
}

/* Modal: image zoom ================================================ */


.zoomIn {
  cursor: zoom-in;
  transition: 0.3s;
}

.zoomIn:hover {
  /* opacity: 0.7; */
}


/* The Modal (background) */
.modal-dimbg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  top: 0;
  left: 0;
  width: 100% !important; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  cursor: zoom-out;
}

.modal-dimbg::-webkit-scrollbar {
  width: 0px;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1500px;
}

/* Add Animation */
.modal-content {
  padding-bottom: 100px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0.9)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0.9)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  /* position: absolute;
  top: 15px;
  right: 35px; */

	/* display: none;
  position: fixed;
  top: 0px;
  right: 21px;
  padding: 20px 0px 20px 20px;
	z-index: 7;
  transition: 0.3s;
  user-select: none;
  -webkit-user-select: none;

  font-family: icons;
  font-weight: normal;
  font-style: normal;
  font-size: 27px;
  color: rgba(240,240,240,1); */


  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  width: 40px;
  padding: 25px 15px 10px 10px;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 7;
  transition: 0.3s;
  user-select: none;
  -webkit-user-select: none;
}

.close:hover,
.close:focus {
  cursor: pointer;
  opacity: 0.3;
}
