.thumbnail-view:after {  /* Masonry: clear fix */
  content: '';
  display: block;
  clear: both;
}

.thumbnail-view-sizer {  /* Masonry */
  width: 100%;
}

.thumbnail-view-item {
  width: 100%;
  margin: 0;
}


.filterDiv {
  cursor: default;
  opacity: 20%;
  -webkit-opacity: 20%;
  display:none;
  filter: blur(9px);
  -webkit-filter: blur(9px);
  margin-left: auto;
  margin-right: auto;
}

.show {
  /* cursor: pointer; */
  opacity: 100%;
  -webkit-opacity: 100%;
  display:block;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: 0.3s linear;
}

.col3-btn {
  margin: 0;
  padding: 0;
  border-width: 0px;
  background-color: transparent;
}

.thumbnail-preview{
  display: block;
  width: 100%;
  margin: 0 auto 0 auto;
}

.thumbnail-preview:hover {
  cursor: pointer;
}
