/* font: import ================================================ */
@font-face {
  font-family: 'NeueHaasGrotesk';
  src: url('./0_font/NeueHaasGroteskText-Regular.woff') format('woff');
  src: url('./0_font/NeueHaasGroteskText-Regular.woff2') format('woff2');
}


/* default: selected ================================================ */
::selection {
  /* color: white;
  background: black; */
  color: black;
  background: white;
}

::-moz-selection {
  /* color: white;
  background: black; */
  color: black;
  background: white;
}


/* default ================================================ */
a {
  text-decoration: none;
  color: #b2b2b2;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'NeueHaasGrotesk';
  font-size: 28px;
}