/* Variable ================================================ */

:root {
  --scrollbar-width: 20px;
  --scrollbar-right: 8px;
  --scrollbar-left: 9px;

  --col1-width: 140px;
  --col2-1-width: 310px;
  --col2-extra: 3px;
  --col3-width: 15%;
  /* --col3-width: 15.8%; */
  /* --col3-width: 240px; */
  --col4-width: 120px; /* = --col1-width - --scrollbar-widt */
}

/* Scrollbar ================================================ */

::-webkit-scrollbar { /* width */
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track { /* Track */
  /* background: url(./test/test.svg) no-repeat; */
  background: transparent;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: #b2b2b2;
  /* border-radius: 20px; */
  background-clip: padding-box;
  /* border: 8px solid transparent; */
  border-top: 0px solid transparent;
  border-right: var(--scrollbar-right) solid transparent;
  border-bottom: 0px solid transparent;
  border-left: var(--scrollbar-left) solid transparent;
}
::-webkit-scrollbar-thumb:active { /* Handle on hover */
  /* background: rgb(0,0,0,0.24);
  border-radius: 20px;
  background-clip: padding-box;
  border: 5px solid transparent; */
}


/* Layout ================================================ */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #000000;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.5;
}


/* Layout: image ================================================ */

img {
  padding: 0;
  margin: 0;
}

img.center {
  display: block;
  margin: 0 auto;
}

img.right {
  display: block;
  margin-left: auto;
}


/* Layout: Col 1 ================================================ */

#col1 {
    float: left;
    position: fixed;
    top:0;
    left:0;
    width: var(--col1-width);
    height: 100%;
    margin: 0;
    padding: 10px 10px 0 20px;
    overflow-y: auto;
    z-index: 3;
    mix-blend-mode: difference;
}


/* Layout: Col 2 ================================================ */

#col2 {
    display: flex;
    float: left;
    flex-wrap: wrap;
    flex-direction: row;
    /* max-width: calc(100% - 450px); */
    /* max-width: calc(80% - var(--col1-width) - var(--col3-width) - var(--col4-width) - var(--scrollbar-width)); */
    width: calc(100% - var(--col1-width) - var(--col3-width) - var(--col4-width));
    /* height: 100%; */
    margin-left: var(--col1-width);
    margin-right: 0px;
    padding: 0;
    background: transparent;
    /* overflow-y: auto; */
}


/* Layout: Col 2: About ------------------------------------------------ */

#col2-0 {
    padding: 10px 10px 10px 10px;
    z-index: 1;
}


/* Layout: Col 2-1: Info Text ------------------------------------------------ */

#col2-1::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.col2-1-class div {
    display: none;
    position: fixed;
    top: 0;
    left: var(--col1-width);
    width: var(--col2-1-width);
    height: 100%;
    padding: 10px calc(10px - var(--scrollbar-left)) 0 10px;
    overflow-y: auto;
    transition: all .3s ease;
    background-color: transparent;
    color: #f0f0f0;
}

.col2-1-class.active div {
    display: inline-block;
}


/* Layout: Col 2-2: Work ------------------------------------------------ */

#col2-2 {
  width: calc(100% - var(--col2-1-width) - var(--scrollbar-width) + var(--scrollbar-right) - var(--col2-extra));
  margin-left: calc(var(--col2-1-width) + var(--scrollbar-width) - var(--scrollbar-right));
  z-index: 1;
  /* scroll-snap-type: y mandatory;
  overflow: scroll;
  position: relative; */
  /* height: 100vh; */
}

/* #col2-2 section {
  display: flex;
  scroll-snap-align: start;
  height: 100vh;
} */

footer{
  width:100%;
  height: 300px;
  background-color: transparent;
}



/* col2-2-title */

#col2-2-title {
  display: flex;
  float: left;
  margin-left: calc(var(--col2-1-width) + var(--scrollbar-width) - var(--scrollbar-right) - var(--col2-extra));
}

.col2-2-title-class div {
  display: none;
  position: fixed;
  top: 0;
  width: calc(100% - var(--col1-width) - var(--col2-1-width) - var(--scrollbar-width) - var(--scrollbar-right) - var(--col3-width) - var(--col4-width));
  height: 40px;
  padding: 10px 0 0 0;
  overflow: hidden;
  z-index: 3;
  color: white;
  /* background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); */
  /* background-color: black; */
  /* border-bottom: 1px solid #ffffff; */
  /* mix-blend-mode: difference; */
  /* grid-template-columns: 1fr 1fr;
  column-gap: 10px; */
}

.col2-2-title-class.active div {
  display: grid;
}


/* Layout: Col 3 ================================================ */

#col3 {
    float: right;
    position: fixed;
    top:0;
    right:calc(var(--col4-width));
    width: var(--col3-width);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background: #000000;
}

#col3::-webkit-scrollbar-track { /* Track */
  background: transparent;
}


/* image+text area: col3 width - scrollbar width */
.thumbnail-view {
  width: 100%;
 /* width: calc(100% - var(--scrollbar-width)); */
 /* margin: 2; */
}

/* Devide image and text area */
.imageNtext{
  display: grid;
  grid-template-columns: calc(100% - 15px) 15px;
  width:100%;
  /* height: 135px; */
  text-decoration: none;
}

.image-padding-bottom {
  height: 4px;
  width: auto;
  cursor: default;
}


/* Layout: Col 4 ================================================ */

#col4 {
    float: right;
    position: fixed;
    top:0;
    right:0px;
    width: calc(var(--col4-width));
    height: 100%;
    margin: 0;
    padding: 10px 0 0 calc(20px - var(--scrollbar-right));
    overflow-y: hidden;
    background: #000000;
    color: #ffffff;
    z-index: 3;
}


/* Divider =============================================== */

hr {
  background: #ffffff;
    border-color: #ffffff;
    border: 0;
    height: 1px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}


/* btn: br =============================================== */


.btn-br1 {
  height: 0.5px;
}

.btn-br2 {
  height: 24px;
}


/* ================================================ */

* {
  box-sizing: border-box;
}
