/* Responsive layout */
@media only screen and (max-width:1300px) {

}

@media only screen and (min-width:1125px) {

}

@media only screen and (max-width:1124px) {

  /* Variable ================================================ */

  :root {
    --col1-height: 50px;
    --col2-1-width: 290px;
    --col4-height: 80px;

    --col1-btn-padding: 6px;
  }

  /* Scrollbar ================================================ */

  /* Handle */
  /* ::-webkit-scrollbar-thumb { 
    background: transparent;
  } */

  /* html, body ------------------------------------------------ */

  html, body {
    overflow-y: auto;
  }

  /* Layout: Header ------------------------------------------------ */

  #col1 {
      width: calc(100% - var(--col3-width));
      height: var(--col1-height);
      padding: 10px calc(var(--scrollbar-width) - var(--col1-btn-padding)) 0 calc(var(--scrollbar-width) - var(--col1-btn-padding));
      /* background: black; */
      background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  }

  #col2-0 {
    padding: calc(var(--col1-height) + var(--col4-height) + 10px) 0px 10px 20px;
  }

  #col4 {
      float: left;
      top: var(--col1-height);
      left: 0px;
      width: calc(100% - var(--col3-width));
      height: var(--col4-height);
      padding: 0 calc(var(--scrollbar-width) - var(--col1-btn-padding)) 0 calc(var(--scrollbar-width) - var(--col1-btn-padding));
      overflow-y: hidden;
      background: transparent;
      mix-blend-mode: difference;
      /* background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); */
  }


  .btn-br1 {
    display: none;
  }

  .btn-br2 {
    display: none;
  }

  /* Layout: Work ------------------------------------------------ */

  #col2 {
      width: calc(100% - var(--col3-width));
      margin-left: 0px;
  }

  .col2-1-class div {
    height: calc(100% - var(--col1-height) - var(--col4-height));
    top: calc(var(--col1-height) + var(--col4-height));
    left: 0;
    padding: 10px 20px 0 20px;
  }

  .titlesticky {
    top: calc(var(--col1-height) + var(--col4-height));
  }

  #col3 {
    right: 0;
  }

  /* col1.css ================================================ */

  .col1-btn {
    padding: 0 var(--col1-btn-padding) 0 var(--col1-btn-padding);
  }


  /* col2-2.css ================================================ */

  .titleview {
    background: transparent;
  }

  .aboutview2 {
    grid-template-columns: 1fr;
  }

  .work-padding-top {
    height: calc(var(--col1-height) + var(--col4-height));
  }

  .work-padding-title {
  	height: 40px;
  }

  .work-padding-bottom {
    height: 100px;
  }

  /* font.css ================================================ */

  .font-menu{
    font-size: 16px;
  }

  .font-menu2{
    font-size: 16px;
  }

  .font-title{
    font-size: 16px;
  }

  .font-year{
    font-size: 16px;
  }

  .font-description{
    font-size: 16px;
  }

  .font-description-btn{
    font-size: 16px;
  }

  .font-thumbnail{
    font-size: 10.72px;
  }

}


/* Tablet =============================================== */

@media only screen and (max-width:800px) { /* For tablets: */

  /* Variable ================================================ */

  :root {
    /* --scrollbar-width: 0px; */
    --col2-1-width: 0px;
    --col3-width: 0%;
    /* --col3-width: 30%; */
    --col4-height: 54px;
  }

  /* Scrollbar ================================================ */

  ::-webkit-scrollbar { /* width */
    width: 0;
  }

  /* Layout: Header ------------------------------------------------ */

  #col1 {
      width: 100%;
  }

  #col2 {
      width: 100%;
      padding-right: 20px;
  }

  .col2-1-class.active div {
    /* display: none; */
  }

  #col2-2 {
    display: none;
    width: 100%;
    margin-left: 20px;
  }

  .modal-content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mobileView {
    display: inline-block;
  }

  #col3 {
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    /* height: calc(100% - var(--col1-height) - var(--col4-height));
    top: calc(var(--col1-height) + var(--col4-height)); */
    padding: calc(var(--col1-height) + var(--col4-height) + 10px) 10px 0 10px;
  }

  /* .thumbnail-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  } */

  .thumbnail-view-sizer {
    width: 50%;
  }

  .thumbnail-view-item {
    display: block;
    float: left;
    width: 50%;
  }

  #col4 {
    width: 100%;
  }

  /* .font-thumbnail {
    display: none;
  }

  .imageNtext {
    grid-template-columns: calc(100% - 20px) 20px;
  } */

  .work-padding-bottom {
    height: 50px;
  }

}

@media only screen and (max-width:600px),(max-height:700px) {   /* For tablets: */

}

@media only screen and (max-width:450px) {   /* For tablets: */

}
