/* Variable ================================================ */

:root {
  --scrollbar-width: 20px;
  --col1-width: 150px;
  --col2-1-width: 300px;
  --col3-width: 240px;
  --col4-width: 140px;
}

/* Scrollbar ================================================ */

::-webkit-scrollbar { /* width */
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track { /* Track */
  /* background: url(./test/test.svg) no-repeat; */
  background: transparent;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: rgb(255,255,0,1);
  /* border-radius: 20px; */
  background-clip: padding-box;
  /* border: 8px solid transparent; */
  border-top: 0px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 8px solid transparent;
}
::-webkit-scrollbar-thumb:active { /* Handle on hover */
  /* background: rgb(0,0,0,0.24);
  border-radius: 20px;
  background-clip: padding-box;
  border: 5px solid transparent; */
}


/* Layout ================================================ */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #000000;
  overflow-y: scroll;
  overflow-x: hidden;
}


/* Layout: image ================================================ */

img {
  padding: 0;
  margin: 0;
}

img.center {
  display: block;
  margin: 0 auto;
}

img.right {
  display: block;
  margin-left: auto;
}


/* Layout: Col 1 ================================================ */

#col1 {
    float: left;
    width: var(--col1-width);
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    margin: 0;
    padding: 10px 0 0 10px;
    overflow-y: auto;
    background: blue;
    color: #000000;
}


/* Layout: Col 2 ================================================ */

#col2 {
    display: flex;
    float: left;
    flex-wrap: wrap;
    flex-direction: row;
    /* max-width: calc(100% - 450px); */
    /* max-width: calc(80% - var(--col1-width) - var(--col3-width) - var(--col4-width) - var(--scrollbar-width)); */
    width: calc(100% - var(--col1-width) - var(--col3-width) - var(--col4-width));
    /* height: 100%; */
    margin-left: calc(var(--col1-width));
    margin-right: 0px;
    padding: 0;
    background: transparent;
      /* overflow-y: auto; */
}

#col2-0 {
    padding: 10px 10px 10px 10px;
}

#col2-1::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#col2-2 {
    width: calc(100% - var(--col2-1-width));
    margin-left: var(--col2-1-width);
}

section {
  /* scroll-snap-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center; */
}


/* Col2-1: inactive */
.dot div {
  display: none;
  position: fixed;
  top: 0;
  left: var(--col1-width);
  /* width: calc(20% + 300px); */
  /* max-width: calc(50% - 295px); */
  width: var(--col2-1-width);
  height: 100%;
  padding: 10px 20px 0 10px;
  overflow-y: auto;
  transition: all .3s ease;
  background-color: transparent;
  color: #ffffff;
}

/* Col2-1: active */
.dot.active div {
  display: inline-block;
}

/* Col2-2: End Nav Styles */

footer{
  width:100%;
  height: 300px;
  background-color: transparent;
}

/* Layout: Col 3 ================================================ */

#col3 {
    float: right;
    width: var(--col3-width);
    background: #000000;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    position: fixed;
    top:0;
    right: calc(var(--col4-width));
}

#col3::-webkit-scrollbar-track { /* Track */
  background: transparent;
}

/* image+text area: col3 width - scrollbar width */
.thumbnail-view {
 width: calc(var(--col3-width) - var(--scrollbar-width));
 /* margin: 2; */
}

/* Devide image and text area */
.imageNtext{
  display: grid;
  grid-template-columns: calc(100% - 15px) 15px;
  width:100%;
  height: 135px;
  text-decoration: none;
}

.image-padding-bottom {
  height: 4px;
  width: auto;
  cursor: default;
}


/* Layout: Col 4 ================================================ */

#col4 {
    float: right;
    width: var(--col4-width);
    background: #000000;
    color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 10px 0 0 2px;
    overflow-y: hidden;
    position: fixed;
    top:0;
    right:0px;
}


/* ================================================ */

* {
  box-sizing: border-box;
}








.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: yellow;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* @media (max-width: 800px) {
  .column4-1, .column4-2 {
    flex: 100%;
  } */
